@import 'compass'
@import 'bootstrap-material-design/bootstrap-material-design'
@import 'bootstrap-material-design/ripples'

$sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif


.loyalty-dashboard
  font-family: $sans-serif
  font-weight: 300
  strong
    font-weight: 500
  .container
    max-width: 960px
  .clearfix
    @include clearfix()
  .hidden
    display: none
  .inline-block
    display: inline-block
  .error
    font-weight: 500
    font-size: 13px
    color: #c00
    margin-right: 10px
  .form-control:focus
    @include box-shadow(none)
  .small-label
    display: block
    font-size: 12px
    font-weight: 500
  .med-label
    display: block
    font-size: 14px
    font-weight: 400
    margin-left: 20px
  .navbar-brand
    padding: 10px 20px
    .nav-logo
      height: 30.66666px
      width: 100px
  .section-heading
    margin-bottom: 2em
    padding-bottom: 1em
    border-bottom: 1px solid $grey-300
  .panel-body
    text-align: center
    h3
      font-weight: 500
  .btn.card-button
    width: 100%
    font-size: 1.5em
    height: 8.35em
    line-height: 8.35em
    margin: 0 0 20px
    padding: 0
  #admin-table
    margin: 0 auto
    max-width: 600px
    td
      padding: 5px 10px
      &.section-divider
        padding-top: 0px
    .narrow-cell
      padding: 0 10px
    .submit-cell
      text-align: center
      padding-top: 40px
    .admin-submit
      font-weight: 500
      font-size: 18px
      padding: 10px 90px
    @media (min-width: 768px)
      td + td
        min-width: 380px
  .list-table
    width: 100%
    margin-bottom: 30px
    .panel-heading
      font-size: 16px
      font-weight: bold
    .btn
      margin: 15px
  .geo-toggle, .offer-toggle
    margin-right: 5px
  .subscription-table
    text-align: center
    border-radius: 5px
    td.monthly-spacer
      height: 120px
    th, td
      text-align: center
      padding: 8px 15px
      border: 1px solid #eee
    &.featured
      th, td
        border-color: rgba(255,255,255,0.1)
    h3
      margin: 10px 0