<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><% if (model.id) { %>Edit<% } else { %>Create a<% } %> reward</h4>
    </div>
    <div class="modal-body">
      <table id="admin-table">
        <tbody id="admin-table-body">
          <tr class="form-group">
            <td>
              <strong>Name</strong>
              <span class="small-label">(e.g. &lsquo;Free Coffee&rsquo;)</span>
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="name" value="<%- model.name %>" required>
              </div>
            </td>
          </tr>
          <tr class="form-group">
            <td>
              <strong>Check-ins required to earn</strong>
              <span class="small-label">(maximum of 15)</span>
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="checkinsRequired" value="<%- model.checkinsRequired %>" data-label="check-ins required to earn" required>
              </div>
            </td>
          </tr>
          <tr class="form-group">
            <td>
              <strong>Approximate value</strong>
              <span class="small-label">(<strong>optional</strong>)</span>
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="value" value="<%- model.value %>">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="admin-submit btn btn-primary btn-raised">Save</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->