<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><% if (model.id) { %>Edit<% } else { %>Set up<% } %> your company</h4>
    </div>
    <div class="modal-body">
      <table id="admin-table">
        <thead>
          <tr class="form-group">
          </tr>
        </thead>
        <tbody id="admin-table-body">
          <tr class="form-group">
            <td>Company name</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="name" value="<%- model.name %>" data-label="company name" required>
              </div>
            </td>
          </tr>
          <tr class="form-group">
            <td>
              Handle
              <span class="small-label">(used in URLs)</span>
            </td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="slug" value="<%- model.slug %>" data-label="handle" required>
              </div>
            </td>
          </tr>
          <tr class="form-group">
            <td>Logo</td>
            <td class="value">
              <div class="admin-field" data-type="image">
                <input class="form-control" type="file" class="image-upload-file">
                <input type="hidden" name="logo" value="<%- model.logo %>" disabled="">
                <img src="<%- s3_base %><%- model.logo %>">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="admin-submit btn btn-primary btn-raised">Save</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->