<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><% if (model._id) { %>Edit<% } else { %>Add a<% } %> location</h4>
    </div>
    <div class="modal-body">
      <table id="admin-table">
        <tbody id="location-tbody">
          <tr>
            <td>Name</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="name" value="<%- model.name %>" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Check-in code<br>
              <span class="small-label">
                what users text to check in<br>
                (max 12 chars)
              </span>
            </td>
            <td class="value">
              <div class="admin-field" data-type="text" required>
                <input class="form-control" type="text" name="checkin_code" value="<%- model.checkinCode %>" data-label="check-in code" maxlength="12" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="address" value="<%- model.address %>" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>City</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="city" value="<%- model.city %>" required>
              </div>
            </td>
          </tr>
          <tr>
            <td>State</td>
            <td class="value">
              <div class="admin-field" data-type="select" data-autoselect="true">
                <select class="form-control" name="state">
                  <option value="AL" <% if (model.state == 'AL') { %>selected<% } %> >Alabama</option>
                  <option value="AK" <% if (model.state == 'AK') { %>selected<% } %> >Alaska</option>
                  <option value="AZ" <% if (model.state == 'AZ') { %>selected<% } %> >Arizona</option>
                  <option value="AR" <% if (model.state == 'AR') { %>selected<% } %> >Arkansas</option>
                  <option value="CA" <% if (model.state == 'CA') { %>selected<% } %> >California</option>
                  <option value="CO" <% if (model.state == 'CO') { %>selected<% } %> >Colorado</option>
                  <option value="CT" <% if (model.state == 'CT') { %>selected<% } %> >Connecticut</option>
                  <option value="DE" <% if (model.state == 'DE') { %>selected<% } %> >Delaware</option>
                  <option value="DC" <% if (model.state == 'DC') { %>selected<% } %> >District Of Columbia</option>
                  <option value="FL" <% if (model.state == 'FL') { %>selected<% } %> >Florida</option>
                  <option value="GA" <% if (model.state == 'GA') { %>selected<% } %> >Georgia</option>
                  <option value="HI" <% if (model.state == 'HI') { %>selected<% } %> >Hawaii</option>
                  <option value="ID" <% if (model.state == 'ID') { %>selected<% } %> >Idaho</option>
                  <option value="IL" <% if (model.state == 'IL') { %>selected<% } %> >Illinois</option>
                  <option value="IN" <% if (model.state == 'IN') { %>selected<% } %> >Indiana</option>
                  <option value="IA" <% if (model.state == 'IA') { %>selected<% } %> >Iowa</option>
                  <option value="KS" <% if (model.state == 'KS') { %>selected<% } %> >Kansas</option>
                  <option value="KY" <% if (model.state == 'KY') { %>selected<% } %> >Kentucky</option>
                  <option value="LA" <% if (model.state == 'LA') { %>selected<% } %> >Louisiana</option>
                  <option value="ME" <% if (model.state == 'ME') { %>selected<% } %> >Maine</option>
                  <option value="MD" <% if (model.state == 'MD') { %>selected<% } %> >Maryland</option>
                  <option value="MA" <% if (model.state == 'MA') { %>selected<% } %> >Massachusetts</option>
                  <option value="MI" <% if (model.state == 'MI') { %>selected<% } %> >Michigan</option>
                  <option value="MN" <% if (model.state == 'MN') { %>selected<% } %> >Minnesota</option>
                  <option value="MS" <% if (model.state == 'MS') { %>selected<% } %> >Mississippi</option>
                  <option value="MO" <% if (model.state == 'MO') { %>selected<% } %> >Missouri</option>
                  <option value="MT" <% if (model.state == 'MT') { %>selected<% } %> >Montana</option>
                  <option value="NE" <% if (model.state == 'NE') { %>selected<% } %> >Nebraska</option>
                  <option value="NV" <% if (model.state == 'NV') { %>selected<% } %> >Nevada</option>
                  <option value="NH" <% if (model.state == 'NH') { %>selected<% } %> >New Hampshire</option>
                  <option value="NJ" <% if (model.state == 'NJ') { %>selected<% } %> >New Jersey</option>
                  <option value="NM" <% if (model.state == 'NM') { %>selected<% } %> >New Mexico</option>
                  <option value="NY" <% if (!model.state || model.state == 'NY') { %>selected<% } %> >New York</option>
                  <option value="NC" <% if (model.state == 'NC') { %>selected<% } %> >North Carolina</option>
                  <option value="ND" <% if (model.state == 'ND') { %>selected<% } %> >North Dakota</option>
                  <option value="OH" <% if (model.state == 'OH') { %>selected<% } %> >Ohio</option>
                  <option value="OK" <% if (model.state == 'OK') { %>selected<% } %> >Oklahoma</option>
                  <option value="OR" <% if (model.state == 'OR') { %>selected<% } %> >Oregon</option>
                  <option value="PA" <% if (model.state == 'PA') { %>selected<% } %> >Pennsylvania</option>
                  <option value="RI" <% if (model.state == 'RI') { %>selected<% } %> >Rhode Island</option>
                  <option value="SC" <% if (model.state == 'SC') { %>selected<% } %> >South Carolina</option>
                  <option value="SD" <% if (model.state == 'SD') { %>selected<% } %> >South Dakota</option>
                  <option value="TN" <% if (model.state == 'TN') { %>selected<% } %> >Tennessee</option>
                  <option value="TX" <% if (model.state == 'TX') { %>selected<% } %> >Texas</option>
                  <option value="UT" <% if (model.state == 'UT') { %>selected<% } %> >Utah</option>
                  <option value="VT" <% if (model.state == 'VT') { %>selected<% } %> >Vermont</option>
                  <option value="VA" <% if (model.state == 'VA') { %>selected<% } %> >Virginia</option>
                  <option value="WA" <% if (model.state == 'WA') { %>selected<% } %> >Washington</option>
                  <option value="WV" <% if (model.state == 'WV') { %>selected<% } %> >West Virginia</option>
                  <option value="WI" <% if (model.state == 'WI') { %>selected<% } %> >Wisconsin</option>
                  <option value="WY" <% if (model.state == 'WY') { %>selected<% } %> >Wyoming</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Zip</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="zip" value="<%- model.zip %>" maxlength="5" required>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody class="hidden" id="geo-tbody">
          <tr>
            <td class="section-divider" colspan="2">
              <h4>Location Verification</h4>
              <p>This feature uses the customer's physical location to verify their presence at your business when checkin in. Would you like to enable to location verification?</p>
              <p>
                <label>
                  <input type="radio" class="geo-toggle" name="geo-enabled" value="y">
                  <strong>Yes, verify customer's location when checking in (recommended)</strong>
                </label>
              </p>
              <p>
                <label>
                  <input type="radio" class="geo-toggle" name="geo-enabled" value="n">
                  <strong>No, allow check-ins from anywhere</strong>
                </label>
              </p>
            </td>
          </tr>
          <tr class="geo-row hidden">
            <td></td>
            <td>
              <button class="btn btn-warning geo-by-address">Fetch from address</button>
              <button class="btn btn-default geo-by-current">Fetch from my current location</button>
            </td>
          </tr>
          <tr class="geo-row hidden">
            <td>Latitude</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="latitude" value="<%- model.latitude %>" disabled>
              </div>
            </td>
          </tr>
          <tr class="geo-row hidden">
            <td>Longitude</td>
            <td class="value">
              <div class="admin-field" data-type="text">
                <input class="form-control" type="text" name="longitude" value="<%- model.longitude %>" disabled>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody class="hidden" id="time-tbody">
          <tr>
            <td class="section-divider" colspan="2">
              <h4>Schedule</h4>
              <p>Does this location have a set schedule? If so, you can set it up here to prevent customers from checking in outside of operating hours.</p>
              <p>
                <label>
                  <input type="radio" class="time-toggle" name="time-enabled" value="y">
                  <strong> Yes, this location has a set schedule</strong>
                </label>
              </p>
              <p>
                <label>
                  <input type="radio" class="time-toggle" name="time-enabled" value="n">
                  <strong> No, allow check-ins at any time</strong>
                </label>
              </p>
            </td>
          </tr>
          <tr class="time-row hidden">
            <td>Days</td>
            <td class="value">
              <div class="open-days-field">
                <label class="day">
                  <input type="checkbox" value="0">
                  Mon
                </label>
                <label class="day">
                  <input type="checkbox" value="1">
                  Tue
                </label>
                <label class="day">
                  <input type="checkbox" value="2">
                  Wed
                </label>
                <label class="day">
                  <input type="checkbox" value="3">
                  Thu
                </label>
                <label class="day">
                  <input type="checkbox" value="4">
                  Fri
                </label>
                <label class="day">
                  <input type="checkbox" value="5">
                  Sat
                </label>
                <label class="day">
                  <input type="checkbox" value="6">
                  Sun
                </label>
                <input type="hidden" name="open_days" value="<%- model.open_days %>">
              </div>
            </td>
          </tr>
          <tr class="time-row hidden">
            <td>Timezone</td>
            <td class="value">
              <div class="admin-field" data-type="select" data-autoselect="true">
                <select class="form-control" name="timezone">
                  <option value="US/Alaska">US/Alaska</option>
                  <option value="US/Arizona">US/Arizona</option>
                  <option value="US/Central">US/Central</option>
                  <option value="US/Eastern" selected>US/Eastern</option>
                  <option value="US/Hawaii">US/Hawaii</option>
                  <option value="US/Mountain">US/Mountain</option>
                  <option value="US/Pacific">US/Pacific</option>
                </select>
              </div>
            </td>
          </tr>
          <tr class="time-row hidden">
            <td>Open time</td>
            <td class="value">
              <div class="open-time-field">
                <input class="form-control" type="text" name="open_time">
                <select class="form-control" name="open_ampm">
                  <option value="am" selected>AM</option>
                  <option value="pm">PM</option>
                </select>
                <input type="hidden" name="open_hour" value="<%- model.open_hour %>">
                <input type="hidden" name="open_minute" value="<%- model.open_minute %>">
              </div>
            </td>
          </tr>
          <tr class="time-row hidden">
            <td>Close time</td>
            <td class="value">
              <div class="close-time-field">
                <input class="form-control" type="text" name="close_time">
                <select class="form-control" name="close_ampm">
                  <option value="am" selected>AM</option>
                  <option value="pm">PM</option>
                </select>
                <input type="hidden" name="open_duration" value="<%- model.open_duration %>">
              </div>
            </td>
          </tr>
        </tbody>
        <tbody class="hidden" id="offer-tbody">
          <tr>
            <td class="section-divider" colspan="2">
              <h4>Choose Your Offer</h4>
              <p>Decide what your customers will earn when they check in. If you don't have any rewards or promotions set up yet, you can set one later.</p>
            </td>
          </tr>
          <tr>
            <td class="narrow-cell" colspan="2">
              <label>
                <input type="radio" class="offer-toggle" name="offer-type" value="reward">
                <strong> Reward</strong>
                <span class="med-label">Similar to a punch-card, a set number of check-ins earns a reward (e.g. a free coffee)</span>
              </label>
            </td>
          </tr>
          <tr class="reward-row hidden">
            <td>Choose reward</td>
            <td class="value">
              <div class="admin-field" data-type="select">
                <select class="form-control reward-select" name="reward_id">
                  <option value="">Create a new reward</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="narrow-cell" colspan="2">
              <label>
                <input type="radio" class="offer-toggle" name="offer-type" value="promo">
                <strong> Promotion</strong>
                <span class="med-label">Totally flexible, you decide what the offer is, we capture and report check-ins for you - perfect for giveaways and offline promotions</span>
              </label>
            </td>
          </tr>
          <tr class="promo-row hidden">
            <td>Choose promotion</td>
            <td class="value">
              <div class="admin-field" data-type="select">
                <select class="form-control promotion-select" name="promotion_id">
                  <option value="">Create a new promotion</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="admin-prev btn btn-default hidden">Back</button>
      <button class="admin-next btn btn-warning">Next</button>
      <button class="admin-submit btn btn-warning hidden">Save</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->