<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Select your plan</h4>
    </div>
    <div class="modal-body">
      <table class="subscription-table">
        <thead>
          <tr>
            <th>
              <h3>LOYL + Tablet</h3>
              <strong>$50 a month</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Loyalty rewards program
            </td>
          </tr>
          <tr>
            <td>
              Automated SMS marketing
            </td>
          </tr>
          <tr>
            <td>
              7-inch tablet with elegant security stand
            </td>
          </tr>
          <tr>
            <td class="monthly-spacer">
            </td>
          </tr>
          <tr>
            <td>
              <form action="/api/subscriptions/<%- locationId %>/loyl-tablet" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%- stripeKey %>"
                  data-name="LOYL + Tablet"
                  data-description="$50 a month"
                  data-panel-label="Subscribe"
                  data-label="Subscribe"
                  data-amount="0"
                  data-email="<%- email %>"
                  data-allow-remember-me="false">
                </script>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->